@media all and (max-width : 778px) {
    .nav-link {
        display: block;
        padding: 0.5rem 1.5rem;
    }

    section.about__section .about-image {
        width: 100%;
        height: 30rem;
        object-fit: contain;
    }

    .image-width {
        height: 22rem;
        width: 75%;
    }

    .justify-center {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

}

@media all and (max-width : 381px) {

    .info_section .btn-balck,
    .btn-hover-balck {
        width: 100%;
    }

    .info_section h1,
    .info_section h3 {
        font-size: 24px;
    }

    .image-width {
        width: 100%;
    }
}

@media all and (min-width : 779px) and (max-width : 991px) {
    .info-btn {
        display: flex;
        justify-content: space-between;

    }
}

@media all and (min-width : 776px) {
    .about-me-info-box {
        border: 1px solid black;
        padding-top: 6rem;
        padding-bottom: 5rem;
        min-width: 20rem;
        border-radius: 30px;
        max-height: 10rem;
    }



    section.about__section .about-image {
        width: 45%;
        border-radius: 2rem;
        margin-right: 2rem;
    }

    .info_text {
        margin-left: 5rem;
    }
}